/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background: url(/img/bg.jpg);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.row > dd, .row > dt {
    font-size: 20px;
    font-family: Arial, Tahoma, Verdana;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills-o .nav-link.active, nav-pills-o .show > .nav-link {
    color: #fff;
    background-color: #f68d43;
    border-color: #1861ac;
    border-radius: .25rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.div-m {
    margin: 0 auto;
    width: 460px;
}

.div-m form {    
    margin: 10px 5px 10px 10px;
}

.div-m-b {
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-m-b-p {
    padding: 0 0 10px 0;
}

h1 {
    text-align: center;
}

.index-film-rating{
    color: #1861ac;
    font-size: 20px;
    font-weight: 600;
    padding: 3px 7px;
    border-radius: 2px;
}

.button-search {
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0px, 5px, 5px, 0px;
    cursor: pointer;
}

.button-search::before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.bordered {
    display: block;
    border: 1px solid transparent;
    cursor: pointer;
    padding-bottom: 10px;
    z-index: 3;
}

.bordered:hover {
    border: 1px solid #6d6d6d;
}

.bordered .item {
    padding: 15px 15px 10px;
}

.item-span {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

.rating-details {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana;
}

.rating-index {
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana;
}

span.span-red {
    color: red;
}

span.span-yellow {
    color: #9d8c22;
}

span.span-green {
    color: green;
}

.table td {
    vertical-align: middle;
}

img.profile_avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 30px;
}