################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACS_LAB1/.vs/ACS_LAB1/v16
/ACS_LAB1/ACS_LAB1/Debug/ACS_LAB1.tlog
/ACS_LAB1/Debug
/ACS_LAB1/ACS_LAB1.sln
/ACS_LAB2/.vs/ACS_LAB2/v16
/ACS_LAB2/ACS_LAB2/Debug
/ACS_LAB2/ACS_LAB2_2/Debug
/MovieSearch/.vs/MovieSearch
/MovieSearch/MovieSearch/bin/Debug/netcoreapp3.1/runtimes
/MovieSearch/MovieSearch/bin/Debug/netcoreapp3.1
/MovieSearch/MovieSearch/obj
