################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/MovieSearch/.vs/MovieSearch
/MovieSearch/MovieSearch/bin/Debug/netcoreapp3.1/runtimes
/MovieSearch/MovieSearch/bin/Debug/netcoreapp3.1
/MovieSearch/MovieSearch/obj
/MovieSearch/MovieSearch/Properties
/MovieSearch/MovieSearch/appsettings.json
/MovieSearch/MovieSearch/appsettings.Development.json
/MovieSearch/MovieSearch/bin/Release/netcoreapp3.1
