@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div class="mt-4">
    <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">All movies</a>
</div>