@model MovieSearch.ViewModels.Movies.MovieIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/dropdown.css" />

@if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
{<p>
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </p>
}



<div id="view-all">
     @await Html.PartialAsync("_ViewAll", Model)   
</div>



