@model MovieSearch.ViewModels.Movies.MovieIndexViewModel
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = Localizer["Index"];
}
<link rel="stylesheet" href="~/css/dropdown.css" />


<div id="view-all">
     @await Html.PartialAsync("_ViewAll", Model)   
</div>



