@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@if (Model.ForCurrentUser)
{
    <h2>Manage your movie's profile</h2>
}
else
{
    <h2>@($"{Model.UserName}'s") movie's profile</h2>
}
<div>
    @if (Model.ForCurrentUser)
    {
        <h4>Browse your favourite movies</h4>
    }
    else
    {
        <h4>Browse @($"{Model.UserName}'s") favourite movies</h4>
    }
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("NavigationList", ViewData["ActivePage"])
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}